body
{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	margin: 0;
	font-family: 'Press Start 2P', cursive;
	background-color: #000;
	color: #fff;
}

header
{
	background-color: #fff;
	width: 100%;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
	position: relative;
	margin-top: 0;
	top:0;
	left: 0;

}

header h1
{
	font-size: 48px;
	margin: 0;
	color: #000;
	text-transform: uppercase;
}

#app
{
	flex: 1; /* Takes all available space after header */
	display: flex;
	justify-content: center; /* Horizontally center the canvas */
	align-items: center; /* Vertically center the canvas */
	width: 100%;
}

#gameCanvas
{
	width: 80vw; /* 75% of the viewport width */
	height: calc(80vw * 0.50);
	background-color: #000;
	/* border: 2px solid #fff; */
	image-rendering: pixelated;
	display: block; /* Ensure the canvas is treated as a block element */
	margin: 0 auto; /* Center the canvas */
	padding: 0;
	position: relative;
}
