/********************************** GENERAL **********************************/
/* margin and padding by default for all elements */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	height: 100%;
	width: 100%;
	background-color: #000;
	font-family: 'Press Start 2P', cursive;
	color: #fff;
}

body {
	display: flex;
	flex-direction: column;
}

header {
	width: 100%;
	background-color: #fff;
	color: #000;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-shrink: 0; /* Ensure the header will not be reduced */
}

header h1 {
	font-size: 3.5vh;
	padding: 1vh 0;
}

h1 {
	font-size: 3vh;
	text-align: center;
}

h2 {
	font-size: 2.5vh;
	text-align: center;
	margin-bottom: 3vh;
}

h3 {
	font-size: 2vh;
	text-align: center;
	margin: 1vh 0;
}

/* 'Pong' Title */
#pongTitle {
	padding: 1vh 0;
}

/* The #app container holds all screens */
#app {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* Buttons */
button {
	display: block;
	margin: 1vh 0; /* Space between buttons */
	padding: 1.5vh;
	background-color: #fff;
	border: 2px solid #fff;
	cursor: pointer;
	/* Font */
	font-family: 'Press Start 2P', cursive;
	color: #000;
	font-size: 1.5vh;
	text-align: center;
}

/* Wide buttons */
.wideButton {
	width: 15vw;
}

/* 'Back' buttons */
.backButton {
	margin-top: 3vh;
}

/* Language Selection */
.languageSelector {
	display: flex;
	position: fixed;
	top: 10px;
	right: 10px;
	z-index: 1000;
}

.languageButton {
	width: 40px;
	height: 30px;
	padding: 0;
	border: none;
	background: none;
	cursor: pointer;
	margin-left: 5px;
}

.languageButton .fi {
	font-size: 2em; /* Ajustez la taille selon vos besoins */
}

.languageButton.active {
    border: 2px solid #007bff;
}


/******************************** GAME SCREEN ********************************/
/* Game Screen Sections */
#gameScreen {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.game-section {
	box-sizing: border-box;
}

/************** TOP SECTION (PLAYER 3) **************/
#topSection {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* Top controls and scores*/
.top-controls-row, .top-score-row {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0.5vh 0;
}

/****** MIDDLE SECTION (PLAYER 1 AND PLAYER 2) ******/
#middleSection {
	width: 100%;
	display: flex;
	flex-direction: row;
}

/* Subsections within Middle Section */
.game-subsection {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

/************* LEFT SECTION (PLAYER 1) **************/
/* Left Controls Section */
#leftControlsSection {
	width: 12%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center; /* Center the entire section */
	text-align: center;
	position: relative;
}

/* Left Score Section */
#leftScoreSection {
	width: 3%;
	display: flex;
	align-items: center;
	justify-content: center;
}

/************ CENTER SECTION (GAME AREA) ************/
#centerSection {
	width: 70%; /* Because left and right are 15% or viewport width */
	height: 100%; /* Same as middle section height */
	display: flex;
	align-items: center;
	justify-content: center;
}

/* Game canvas */
#gameCanvas {
	width: 100%; /* Fills the width of center section */
	height: auto;
	background-color: #fff;
	image-rendering: pixelated;
}

/* Adjust the game canvas */
#gameWrapper {
	position: relative;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

/************* RIGHT SECTION (PLAYER 2) *************/
/* Right Score Section */
#rightScoreSection {
	width: 3%;
	display: flex;
	align-items: center;
	justify-content: center;
}

/* Right Controls Section */
#rightControlsSection {
	width: 12%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center; /* Center the entire section */
	text-align: center;
	position: relative;
}

/************ BOTTOM SECTION (PLAYER 4) *************/
#bottomSection {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* Bottom score and controls */
.bottom-score-row, .bottom-controls-row {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0.5vh 0;
}

/************ PLAYERS LABELS AND SCORES *************/
/* Player Info Styles (Left and right sections) */
.playerInfo {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: absolute;
	top: 50%; /* Place it in the vertical center */
	transform: translateY(-50%); /* Adjust for proper centering */
}

/* Player labels (All sections) */
.playerLabel {
	font-size: 2vh;
	margin: 0 2vh;
}

/* Player scores (All sections)*/
.playerScore {
	font-size: 3vh;
}

/***************** CONTROLS DISPLAY *****************/
/* Title 'Controls' for for top and bottom */
.controlsTextTopBot {
	font-size: 2vh;
	margin-right: 1vh;
}

/* Title 'Controls' for for left and right */
.controlsTextLeftRight {
	font-size: 2vh;
	margin-bottom: 1vh;
}

/* Keys style (general) for left and right sections*/
.controlKeys {
	position: absolute;
	bottom: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 8vh;
}

/* Keys style for all sections */
.key, .controlKeys p {
	border: 2px solid #fff;
	text-align: center;
	display: flex; /* Use flexbox for centering */
	align-items: center; /* Center vertically */
	justify-content: center; /* Center horizontally */
	margin: 0.5vh;
	background-color: transparent;
	color: #fff;
}

/* Keys style for top and bot sections */
.key {
	width: 2vh;
	height: 2vh;
	font-size: 1vh;
}

/* Keys style for left and right sections */
.controlKeys p {
	width: 4vh;
	height: 4vh;
	font-size: 2.5vh;
}


/*********** CLASSIC MODE (HIDE SECTIONS) ***********/
/* Hide top and bottom section in classic mode */
.classic-mode #topSection,
.classic-mode #bottomSection {
	visibility: hidden;
}

.classic-mode #leftControlsSection,
.classic-mode #rightControlsSection {
	width: 20%;
}

.classic-mode #centerSection {
	width: 60%;
}


/******************** END SCREEN ********************/
.winMessageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
	margin: 3vh 0;
}

.winMessageContainer h2 {
    margin: 0;
}


/***************************** TOURNAMENT SCREEN *****************************/
/* Tournament screen */
#tournamentScreen {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	justify-content: flex-start;
	/* padding-top: 1vh; */
}

/* 'Tournament' title */
#tournamentScreen h2 {
	margin-bottom: 1vh;
}

/* Ranking box */
.ranking-box {
	display: inline-block; /* Width adapts to its content */
	background-color: #fff;
	color: #000;
	padding: 1vh;
	border-radius: 5px;
	margin-bottom: 3vh;
	text-align: left;
}

.ranking-box p {
	margin: 0.5vh 0;
	font-size: 2vh;
	white-space: nowrap; /* No wrapping for the text inside the box */
}

/* Stage title */
#tournamentStage {
	font-size: 3vh;
	margin-bottom: 9vh;
	text-decoration: underline;
}

/* Matchup */
.tournament-matchup {
	position: relative;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 7vh;
}

/* Opponent label */
.opponentLabel {
	font-size: 3vh;
	white-space: nowrap;
	position: relative;
	top: 50%;
    transform: translateY(-50%);
}

/* Opponent 1 */
#tournamentOpponent1 { 
	position: absolute;
	right: calc(50% + 20vh);
}

/* Opponent 2 */
#tournamentOpponent2 { 
	position: absolute;
	left: calc(50% + 20vh);
}

/* VS label */
.versusLabel {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	font-size: 4vh;
	font-weight: bold;
}

/* Start button */
#startTournamentGame {
	margin-top: 3vh;
}


/****************************** SETTINGS SCREEN ******************************/
/* Enter your Names Section */
#enterYourNames {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

/* Text, above input fields */
#settingsScreen label {
	width: 40%;
	text-align: right;
	padding-right: 1.5vw;
	white-space: nowrap;
}

/* Forms (text inputs, error-messages for fields...) */
input[type="text"] {
	width: 60%;
	padding: 0.5vh;
	font-size: 1.5vh;
	border: 2px solid #fff;
	background-color: #000;
	color: #fff;
}

/* Input fields */
#settingsScreen .inputField {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 1vh;
}

/* Error message if names are not valid */
.error-message {
	color: red;
	font-size: 0.8vh;
	height: 1em;
	text-align: center;
	margin-bottom: 1vh;
	margin-top: 0.4vh;
}

/* Difficulty Selection Styles */
#difficultySelection {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

/* Difficulty buttons (all) */
#difficultyButtons {
	display: flex;
	justify-content: center;
	gap: 2vh; /* Space between buttons */
}

/* Difficulty button (one) */
.difficultyButton {
	display: inline-block;
	width: auto; /* Override inherited width */
	padding: 1vh 2vh; /* Adjust padding for smaller size */
	margin: 0; /* Remove margin */
	font-size: 1.5vh; /* Smaller font size */
	background-color: #fff;
	border: 2px solid #fff;
	color: #000;
	cursor: pointer;
}

/* Difficulty button (when selected) */
.difficultyButton.selected {
	background-color: #4CAF50;
	color: white;
}

/* Button to launch the game with choosed parameters */
#startGameWithParameters {
	margin-top: 4vh;
	width: 10vw;
}

/********************************* LIVE CHAT *********************************/
#liveChat {
	display: none; /* A ENLEVER, TEMPORAIREMENT CACHER LE CHAT POUR PLUS DE CLARTE !! */
	position: relative;
	background-color: grey;
	width: 300px;
	height: 700px;
}

#chatInput {
	display: flex;
	position: absolute;
	bottom: 0;
	width: 100%;
	margin: 0px;
}

#messageInput {
	height: 50px;
	width: 100%;
	margin: 0;
	font-size: 24px;
}

#sendButton {
	margin: 0;
}


/******************************** ALL SCREENS ********************************/
/* Screens (hidden by default) */
.screen {
	display: none; /* Hide element */
	width: 100%;
	height: 100%;
	flex-direction: column;
	align-items: center;
}

.hidden {
	visibility: hidden;
}

/********************************** PROFILE **********************************/

.profile-picture {
	width: 75px;  /* largeur de l'image */
	height: 75px; /* hauteur de l'image */
	border-radius: 50%; /* optionnel : pour rendre l'image circulaire */
}