/********************************** GENERAL **********************************/
html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: #000;
	font-family: 'Press Start 2P', cursive;
	color: #fff;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between; /* Space between the header and the canvas */
}

header {
	width: 100%;
	background-color: #fff;
	color: #000;
	padding: 2vh 0;
	text-align: center;
	flex-shrink: 0; /* Ensure the header will not be reduced */
}

header h1 {
	font-size: 3.5vh;
	margin: 0;
}

h1 {
	font-size: 3vh;
	text-align: center;
	margin-top: 1.5vh;
	margin-bottom: 2vh;
}

h2 {
	font-size: 2.5vh;
	text-align: center;
	margin-bottom: 3vh;
}

h3 {
	font-size: 2vh;
	text-align: center;
	margin: 1vh 0;
}

/* The #app container holds all screens */
#app {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex-grow: 1;
	padding: 0;
	width: 100%;
}

/* Buttons */
button {
	display: block;
	margin: 1vh 0; /* Space between buttons */
	padding: 1.5vh;
	background-color: #fff;
	border: 2px solid #fff;
	cursor: pointer;
	/* Font */
	font-family: 'Press Start 2P', cursive;
	color: #000;
	font-size: 1.5vh;
	text-align: center;
}

/* Wide buttons */
.wideButton {
	width: 15vw;
}

/* 'Back' buttons */
.backButton {
	margin-top: 3vh;
}



/******************************** GAME SCREEN ********************************/
/* Flex layout for the scoreboard, keeping it responsive */
#scoreBoard, #scoreBoard2 {
	display: flex;
	justify-content: space-between;
	width: 65vw; /* Scoreboard takes same width as canvas */
	align-items: center;
	margin: 1vh 0;
}

/* Ensure player labels are centered over their half of the canvas */
.playerLabel {
	font-size: 2.5vh;
	color: #fff;
	width: 32.5vw; /* Half the width of the canvas */
	text-align: center;
}

/* Scores should be centered in the middle of the canvas */
.scores {
	font-size: 2.5vh;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 3vw; /* Space between the two scores */
	flex-shrink: 0;
}

/* Game canvas */
#gameCanvas {
	width: 65vw;
	height: calc(65vw * 0.55); /* Maintain aspect ratio */
	background-color: #fff;
	image-rendering: pixelated;
}

/* Adjust the game canvas */
#gameWrapper {
	position: relative;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 2vh;
}


/****************************** SETTINGS SCREEN ******************************/
/* Enter your Names Section */
#enterYourNames {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

/* Text, above input fields */
#settingsScreen label {
	width: 40%;
	text-align: right;
	padding-right: 1.5vw;
	white-space: nowrap;
}

/* Forms (text inputs, error-messages for fields...) */
input[type="text"] {
	width: 60%;
	padding: 0.5vh;
	font-size: 1.5vh;
	border: 2px solid #fff;
	background-color: #000;
	color: #fff;
}

/* Input fields */
#settingsScreen .inputField {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 1vh;
}

/* Error message if names are not valid */
.error-message {
	color: red;
	font-size: 0.8vh;
	height: 1em;
	text-align: center;
	margin-bottom: 1vh;
	margin-top: 0.4vh;
}

/* Difficulty Selection Styles */
#difficultySelection {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

/* Difficulty buttons (all) */
#difficultyButtons {
	display: flex;
	justify-content: center;
	gap: 2vh; /* Space between buttons */
}

/* Difficulty button (one) */
.difficultyButton {
	display: inline-block;
	width: auto; /* Override inherited width */
	padding: 1vh 2vh; /* Adjust padding for smaller size */
	margin: 0; /* Remove margin */
	font-size: 1.5vh; /* Smaller font size */
	background-color: #fff;
	border: 2px solid #fff;
	color: #000;
	cursor: pointer;
}

/* Difficulty button (when selected) */
.difficultyButton.selected {
	background-color: #4CAF50;
	color: white;
}

/* Button to launch the game with choosed parameters */
#startGameWithParameters {
	margin-top: 4vh;
	width: 10vw;
}


/***************************** CONTROLS DISPLAY ******************************/
/* Controls display (general) */
#controlsDisplay {
	position: absolute;
	top: 50%; /* Vertically center */
	transform: translateY(-50%);  /* Vertically adjust */
	display: flex;
	justify-content: space-between;
	width: calc(100%);
	left: 0;
	right: 0;
}

/* Controls display in Player vs AI Mode */
#controlsDisplay.ai-mode {
	justify-content: flex-start;
	flex-direction: column;
	align-items: flex-start;
	width: auto;
	margin-left: 5vw;
}

/* Hide the h3 of the second control in AI Mode */
#controlsDisplay.ai-mode #rightControls h3 {
	visibility: hidden;
}

/* Controls display in Player vs Player Mode */
#controlsDisplay.normal-mode {
	justify-content: space-between;
	flex-direction: row;
	width: calc(90vw); /* So we have 5vw for margin left and right */
	margin-left: auto;
	margin-right: auto;
}

/* Keys style */
.controlKeys {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 0.3vh;
}

/* Keys style (paragraphes) */
.controlKeys p {
	font-size: 1.5vw;
	padding: 0.5vw;
	border: 0.2vw solid white;
	width: 3vw;
	height: 1.5vw;
	text-align: center;
	margin: 0.3vw 0;
	background-color: transparent;
	color: white;
}


/******************************** ALL SCREENS ********************************/
/* Screens (hidden by default) */
.screen {
	display: none; /* Hide element */
	width: 100%;
	height: 100%;
	flex-direction: column;
	align-items: center;
}

/********************************** PROFILE **********************************/

.profile-picture {
	width: 75px;  /* largeur de l'image */
	height: 75px; /* hauteur de l'image */
	border-radius: 50%; /* optionnel : pour rendre l'image circulaire */
}