{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title textTranslated="head">Transcendence - Pong Game</title>
	<link rel="stylesheet" href="../static/css/style.css">
	<link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lipis/flag-icons@6.6.6/css/flag-icons.min.css">
</head>
<body class="hidden">

	<!-------------------------------------- PAGE TITLE --------------------------------------->
	<header>
		<h1 textTranslated="pageTitle">Transcendence</h1>
	</header>

	<div id="app">
	<!--------------------------------- PAGE SUBTITLE 'PONG' ---------------------------------->
		<h1 id="pongTitle" textTranslated="pongTitle">PONG</h1>

	<!--------------------------------------- REGISTER ---------------------------------------->
		<div id="registerScreen" class="screen">
			<h2 textTranslated="register">Register</h2>
			<form id="registerForm">
				{% csrf_token %}
				<input type="text" name="username" placeholder="Username" textTranslated="usernamePlaceholder" required>
				<input type="email" name="email" placeholder="Email" textTranslated="emailPlaceholder" required>
				<input type="text" name="first_name" placeholder="First name" textTranslated="firstNamePlaceholder" required>  
				<input type="password" name="password" placeholder="Password" textTranslated="passwordPlaceholder" required>
				<button type="submit" class="wideButton" textTranslated="register">Register</button>
				<button id="loginFromRegister" class="wideButton" textTranslated="loginFromRegister">Already have an account? Login</button>
			</form>
			
		</div>

	<!---------------------------------------- LOGIN ------------------------------------------>
	
	<div id="loginScreen" class="screen">
		<h2 textTranslated="login">Login</h2>
		<form id="loginForm">
			{% csrf_token %}
			<input type="text" name="username" placeholder="Username" textTranslated="usernamePlaceholder">
			<input type="password" name="password" placeholder="Password" textTranslated="passwordPlaceholder">
			<button type="submit" class="wideButton" textTranslated="login">Login</button>
		</form>
		<button id="registerFromLogin" class="wideButton" textTranslated="registerFromLogin">Not an account yet ? Register</button>
		<button id="playAsGuest" class="wideButton" textTranslated="playAsGuest">Play as guest</button>	
	</div>
	
	<!----------------------------------------- MENU ------------------------------------------>
		<div id="menuScreen" class="screen">
			<button id="profile" class="wideButton" textTranslated="profile">Profile</button>
			<button id="playClassic" class="wideButton" textTranslated="playClassic">Play Classic</button>
			<button id="playMultiplayer" class="wideButton" textTranslated="playMultiplayer">Play Multiplayer</button>
			<button id="playRemote" class="wideButton" textTranslated="playRemote">Play Remote</button>
		</div>

	<!--------------------------------------- PROFILE ----------------------------------------->
		<div id="profileScreen" class="screen">
			<h2 textTranslated="userProfile">User Profile</h2>
			{% if user.userprofile.profile_picture %}
				<img src="{{ user.userprofile.profile_picture.url }}" alt="Profile Picture" class="profile-picture">
			{% else %}
				<img src="{% static 'images/default_profile.png' %}" alt="Default Profile Picture" class="profile-picture">
			{% endif %}
			<p><strong textTranslated="username">Username:</strong> <span id="profileUsername" textTranslated="dynamicUsername">{{ user.username }}</span></p>
			<p><strong textTranslated="email">Email:</strong> <span id="profileEmail" textTranslated="dynamicEmail">{{ user.email }}</span></p>
			<p><strong textTranslated="firstName">First Name:</strong> <span id="profileFirstName" textTranslated="dynamicFirstName">{{ user.first_name }}</span></p>
			<p><strong textTranslated="wins">Wins:</strong> <span id="profileWins" textTranslated="dynamicWins">{{ user.userprofile.victory_count }}</span></p>
			<p><strong textTranslated="losses">Losses:</strong> <span id="profileLosses" textTranslated="dynamicLosses">{{ user.userprofile.defeat_count }}</span></p>
			<button id="editProfile" class="wideButton" textTranslated="editProfile">Edit profile</button>
			<button id="friendFromProfile" class="wideButton" textTranslated="friend">Friend</button>
			<button id="menuFromProfile" class="wideButton" textTranslated="backToMenu">Back to menu</button>
			<button id="logoutButton" textTranslated="logOut">Logout</button>
		</div>

	<!----------------------------------------- 2FA ------------------------------------------->

		<div id="2faScreen" class="screen">
			<h2 textTranslated="twoFA_Verification">2FA Verification</h2>
			<form id="2faForm" method="POST">
				<input type="text" id="twoFaCode" name="2fa_code" placeholder="Enter the 2FA code received by email" textTranslated="twoFA_placeholder">
				<button type="submit" textTranslated="validate">Validate</button>
			</form>
		</div>

	<!---------------------------------------- FRIEND ----------------------------------------->
		<div id="friendScreen" class="screen">
			<h2 textTranslated="friendsList">Friends List</h2>
			<div id="friendsList"></div>
			<h3 textTranslated="addFriend">Add a Friend</h3>
			<input type="text" id="friendUsername" placeholder="Username" textTranslated="usernamePlaceholder">
			<button id="addFriendButton" class="wideButton" textTranslated="addFriendButton">Add Friend</button>
	
			<h3 textTranslated="friendsRequests">Friend Requests</h3>
			<ul id="friendRequestsList">
				{% for friend_request in friend_requests %}
					<li>
						<span>{{ friend_request.from_user.username }}</span>
						<button class="acceptFriendButton" data-request-id="{{ friend_request.id }}" textTranslated="accept">Accept</button>
					</li>
				{% empty %}
					<li textTranslated="noFriendRequest">No friend requests</li>
				{% endfor %}
			</ul>
			<button id="profileFromFriend" class="wideButton" textTranslated="cancel">Cancel</button>
		</div>
	<!------------------------------------- EDIT PROFILE -------------------------------------->
	
		<div id="editProfileScreen" class="screen">
			<h2 textTranslated="editProfile">Edit Profile</h2>
			<form id="editProfileForm" enctype="multipart/form-data">
				{% csrf_token %}
				<input type="text" id="editUsername" name="username" placeholder="Username" textTranslated="usernamePlaceholder" required>
				<input type="email" id="editEmail" name="email" placeholder="Email" textTranslated="emailPlaceholder" required>
				<input type="text" id="editFirstName" name="first_name" placeholder="First name" textTranslated="firstNamePlaceholder" required>
				<input type="password" id="editPassword" name="password" placeholder="Password" textTranslated="passwordPlaceholder">
				<input type="file" id="editProfilePicture" name="profile_picture">
				<button type="submit" class="wideButton" textTranslated="saveChanges">Save changes</button>
			</form>
			<button id="cancelEditProfile" class="wideButton" textTranslated="cancel">Cancel</button>
		</div>
	
	<!--------------------------------------- SETTINGS ---------------------------------------->
		<div id="settingsScreen" class="screen">

			<!-- Main Title -->
			<h2 textTranslated="settings">Settings</h2>

			<!-- Players Names Input -->
			<div id="enterYourNames">
				<h3 textTranslated="yourName">Enter your name</h3>

				<!-- Player 1 -->
				<div id="player1LabelField" class="inputField">
					<label for="player1Input" textTranslated="player1">Player 1:</label>
					<input type="text" id="player1Input" placeholder="Enter Player 1 name" textTranslated="player1Placeholder" maxlength="8">
				</div>
				<div>
					<p id="player1InputError" class="error-message"></p>
				</div>

				<!-- Player 2 -->
				<div id="player2LabelField" class="inputField">
					<label for="player2Input" textTranslated="player2">Player 2:</label>
					<input type="text" id="player2Input" placeholder="Enter Player 2 name" textTranslated="player2Placeholder" maxlength="8">
				</div>
				<div>
					<p id="player2InputError" class="error-message"></p>
				</div>

				<!-- Player 3 -->
				<div id="player3LabelField" class="inputField">
					<label for="player3Input" textTranslated="player3">Player 3:</label>
					<input type="text" id="player3Input" placeholder="Enter Player 3 name" textTranslated="player3Placeholder" maxlength="8">
				</div>
				<div>
					<p id="player3InputError" class="error-message"></p>
				</div>

				<!-- Player 4 -->
				<div id="player4LabelField" class="inputField">
					<label for="player4Input" textTranslated="player4">Player 4:</label>
					<input type="text" id="player4Input" placeholder="Enter Player 4 name" textTranslated="player4Placeholder" maxlength="8">
				</div>
				<div>
					<p id="player4InputError" class="error-message"></p>
				</div>
			</div>

			<!-- Difficulty Selection -->
			<div id="difficultySelection">
				<h3 textTranslated="difficulty">Choose difficulty</h3>
				<div id="difficultyButtons">
					<button id="easyButton" class="difficultyButton selected" textTranslated="easy">Easy</button>
					<button id="mediumButton" class="difficultyButton" textTranslated="medium">Medium</button>
					<button id="hardButton" class="difficultyButton" textTranslated="hard">Hard</button>
				</div>
			</div>

			<!-- Start Game Button -->
			<button id="startGameWithParameters" class="wideButton" textTranslated="startGame">Start Game</button>
			<button id="backFromSettings" class="backButton" textTranslated="back">Back</button>
		</div>

	<!----------------------------------------- GAME ------------------------------------------>
	<!-- Mode Selection Screen -->
		<div id="modeSelectionScreen" class="screen">
			<h2>Select Game Mode</h2>
			<button id="modeVsAI" class="wideButton">1 Player</button>
			<button id="mode2Players" class="wideButton">2 Players</button>
			<button id="modeTournament" class="wideButton">Tournament</button>
			<button id="backFromClassicModeSelection" class="backButton">Back</button>
		</div>

	<!-- Game Screen -->
		<div id="gameScreen" class="screen">
			<!-- Live chat -->
			<div id="liveChat">
				<div id="messages"></div>
				<form id="chatInput">
					<input type="text" name="message" id="messageInput"/>
					<button type="submit" id="sendButton" textTranslated="send">Send</button>
				</form>
			</div>

			<!-- Top Section -->
			<div id="topSection" class="game-section">
				<!-- Player 3 name and controls -->
				<div class="top-controls-row">
					<span id="player3Label" class="playerLabel" textTranslated="player3">Player 3</span>
					<span id="player3ControlsLabel" class="controlsTextTopBot" textTranslated="controlsP">(Controls</span>
					<span id="player3Key1Label" class="key">J</span>
					<span id="player3Key2Label" class="key">L</span>
					<span id="player3EndKeysLabel" class="controlsTextTopBot">)</span>
				</div>
				<!-- Player 3 Score -->
				<div class="top-score-row">
					<span id="player3Score" class="playerScore">0</span>
				</div>
			</div>
		
			<!-- Middle Section -->
			<div id="middleSection" class="game-section">
				<!-- Left Controls Section -->
				<div id="leftControlsSection" class="game-subsection">
					<!-- Player 1 -->
					<div class="playerInfo">
						<span id="player1Label" class="playerLabel" textTranslated="player1">Player 1</span>
					</div>
					<!-- Player 1 Controls -->
					<div id="leftControls" class="controlKeys">
						<span class="controlsTextLeftRight" textTranslated="controls">Controls</span>
						<p>W</p>
						<p>S</p>
					</div>
				</div>
		
				<!-- Left Score Section -->
				<div id="leftScoreSection" class="score-section">
					<span id="player1Score" class="playerScore">0</span>
				</div>
		
				<!-- Center Section -->
				<div id="centerSection" class="game-subsection">
					<!-- Game canvas -->
					<div id="gameWrapper">
						<canvas id="gameCanvas" width="1000" height="500"></canvas>
					</div>
				</div>
		
				<!-- Right Score Section -->
				<div id="rightScoreSection" class="score-section">
					<span id="player2Score" class="playerScore">0</span>
				</div>
		
				<!-- Right Controls Section -->
				<div id="rightControlsSection" class="game-subsection">
					<!-- Player 2 -->
					<div class="playerInfo">
						<span id="player2Label" class="playerLabel" textTranslated="player2">Player 2</span>
					</div>
					<!-- Player 2 Controls -->
					<div id="rightControls" class="controlKeys">
						<span class="controlsTextLeftRight" textTranslated="controls">Controls</span>
						<p>&uarr;</p>
						<p>&darr;</p>
					</div>
				</div>
			</div>
		
			<!-- Bottom Section -->
			<div id="bottomSection" class="game-section">
				<!-- Player 4 Score -->
				<div class="bottom-score-row">
					<span id="player4Score" class="playerScore">0</span>
				</div>
				<!-- Player 4 Name and controls -->
				<div class="bottom-controls-row">
					<span id="player4Label" class="playerLabel" textTranslated="player4">Player 4</span>
					<span id="player4ControlsLabel" class="controlsTextTopBot" textTranslated="controlsP">(Controls</span>
					<span id="player4Key1Label" class="key">1</span>
					<span id="player4Key2Label" class="key">3</span>
					<span id="player4EndKeysLabel" class="controlsTextTopBot">)</span>
				</div>
			</div>

		</div>

	<!-- End Screen -->
		<div id="classicEndScreen" class="screen">
			<h2 id="classicWinMessage" textTranslated="playerWins">Player Wins!</h2>
			<button id="restartClassicGame" class="wideButton" textTranslated="restart">Restart</button>
			<button id="nextTournamentGame" class="wideButton" textTranslated="nextGame">Next Game</button>
			<button id="menuFromClassicEnd" class="wideButton" textTranslated="backToMenu">Back to Menu</button>
		</div>

	<!-------------------------------- MULTIPLAYER PONG GAME ---------------------------------->
	<!-- Mode Selection Screen -->
		<div id="multiModeSelectionScreen" class="screen">
			<h2 textTranslated="gameMode">Select Game Mode</h2>
			<button id="onePlayerMode" class="wideButton" textTranslated="onePlayer">1 Player</button>
			<button id="twoPlayersMode" class="wideButton" textTranslated="twoPlayers">2 Players</button>
			<button id="threePlayersMode" class="wideButton" textTranslated="threePlayers">3 Players</button>
			<button id="fourPlayersMode" class="wideButton" textTranslated="fourPlayers">4 Players</button>
			<button id="backFromMultiModeSelection" class="backButton" textTranslated="back">Back</button>
		</div>

	</div>

	<!-------------------------------------- TOURNAMENT --------------------------------------->
	<div id="tournamentScreen" class="screen">

		<!-- 'Tournament' title -->
		<h2 textTranslated="tournamentTitle">Tournament</h2>
	
		<!-- Players ranking -->
		<div id="ranking" class="ranking-box">
			<p>1. <span id="player1Rank">Player 1</span> (<span id="player1Wins">0</span> points)</p>
			<p>2. <span id="player2Rank">Player 2</span> (<span id="player2Wins">0</span> points)</p>
			<p>3. <span id="player3Rank">Player 3</span> (<span id="player3Wins">0</span> points)</p>
			<p>4. <span id="player4Rank">Player 4</span> (<span id="player4Wins">0</span> points)</p>
		</div>

		<!-- Current Stage title -->
		<h3 id="tournamentStage" textTranslated="tournamentStage">First game</h3>
	
		<!-- Match up: Opponent1 VS Opponent2 -->
		<div id="tournamentMatchup" class="tournament-matchup">
			<div class="tournamentOpponent">
				<span id="tournamentOpponent1" class="opponentLabel">Player 1</span>
			</div>
	
			<div id="versus" class="versusLabel">VS</div>
	
			<div class="tournamentOpponent">
				<span id="tournamentOpponent2" class="opponentLabel">Player 2</span>
			</div>
		</div>
	
		<!-- 'Start Game' button -->
		<button id="startTournamentGame" textTranslated="startGame">Start Game</button>
	</div>

	<!---------------------------------- LANGUAGE SELECTION ----------------------------------->

	<div id="languageSelector" class="languageSelector">
		<button id="en" class="languageButton"><span class="fi fi-gb"></span></button>
		<button id="fr" class="languageButton"><span class="fi fi-fr"></span></button>
		<button id="es" class="languageButton"><span class="fi fi-es"></span></button>
		<button id="de" class="languageButton"><span class="fi fi-de"></span></button>
	</div>

	<!---------------------------------- JAVASCRIPT SCRIPTS ----------------------------------->
	{% load static %}
	<!-- Languages -->
	<script src="{% static 'js/translations.js' %}"></script>

	<!-- Session -->
	<script src="{% static 'js/Session/register.js' %}"></script>
	<script src="{% static 'js/Session/login.js' %}"></script>
	<script src="{% static 'js/Session/profile.js' %}"></script>
	<script src="{% static 'js/Session/editProfile.js' %}"></script>
	<script src="{% static 'js/Session/friends.js' %}"></script>
	<script src="{% static 'js/Session/updateScore.js' %}"></script>
	<script src="{% static 'js/Session/2fa.js' %}"></script>

	<!-- Screens -->
	<script src="{% static 'js/Screens/menu.js' %}"></script>
	<script src="{% static 'js/Screens/classicModeSelection.js' %}"></script>
	<script src="{% static 'js/Screens/multiModeSelection.js' %}"></script>
	<script src="{% static 'js/Screens/settings.js' %}"></script>
	<script src="{% static 'js/Screens/endScreen.js' %}"></script>

	<!-- Game -->
	<script src="{% static 'js/Game/loop.js' %}"></script>
	<script src="{% static 'js/Game/events.js' %}"></script>
	<script src="{% static 'js/Game/countdown.js' %}"></script>
	<script src="{% static 'js/Game/paddles.js' %}"></script>
	<script src="{% static 'js/Game/ball.js' %}"></script>
	<script src="{% static 'js/Game/collisions.js' %}"></script>
	<script src="{% static 'js/Game/reset.js' %}"></script>
	<script src="{% static 'js/Game/scores.js' %}"></script>
	<script src="{% static 'js/Game/ai.js' %}"></script>
	<script src="{% static 'js/Game/tournament.js' %}"></script>

	<!-- Live -->
	<script src="{% static 'js/Live/liveChat.js' %}"></script>

	<script src="{% static 'js/main.js' %}"></script>

</body>
</html>