{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Transcendance - Pong Game</title>
	<link rel="stylesheet" href="../static/css/style.css">
	<link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
</head>
<body>

	<!-------------------------------------- PAGE TITLE --------------------------------------->
	<header>
		<h1>Transcendance</h1>
	</header>

	<div id="app">
	<!--------------------------------- PAGE SUBTITLE 'PONG' ---------------------------------->
		<h2 id="pongTitle">PONG</h2>

	<!--------------------------------------- REGISTER ---------------------------------------->
		<div id="registerScreen" class="screen">
			<h1>Register</h1>
			<form id="registerForm">
				{% csrf_token %}
				<input type="text" name="username" placeholder="Username" required>
				<input type="email" name="email" placeholder="Email" required>
				<input type="text" name="first_name" placeholder="First name" required>  
				<input type="password" name="password" placeholder="Password" required>
				<button type="submit" class="wideButton">Register</button>
				<button id="loginFromRegister" class="wideButton">Already have an account ? Login</button>
			</form>
			
		</div>

	<!---------------------------------------- LOGIN ------------------------------------------>
		<div id="loginScreen" class="screen">
			<h1>Login</h1>
			<form id="loginForm">
				{% csrf_token %}
				<input type="text" name="username" placeholder="Username">
				<input type="password" name="password" placeholder="Password">
				<button type="submit" class="wideButton">Login</button>
				<button id="registerFromLogin" class="wideButton">Not an account yet ? Register</button>
				<button id="playAsGuest" class="wideButton">Play as guest</button>
			</form>
		</div>
	
	<!----------------------------------------- MENU ------------------------------------------>
		<div id="menuScreen" class="screen">
			<button id="profile" class="wideButton">Profile</button>
			<button id="playClassic" class="wideButton">Play Classic</button>
			<button id="playRemote" class="wideButton">Play Remote</button>
			<button id="playMultiplayer" class="wideButton">Play Multiplayer</button>
		</div>

	<!--------------------------------------- PROFILE ----------------------------------------->
		<div id="profileScreen" class="screen">
			<h2>User Profile</h2>
			{% if user.userprofile.profile_picture %}
				<img src="{{ user.userprofile.profile_picture.url }}" alt="Profile Picture" class="profile-picture">
			{% else %}
				<img src="{% static 'images/default_profile.png' %}" alt="Default Profile Picture" class="profile-picture">
			{% endif %}
			<p><strong>Username:</strong> <span id="profileUsername">{{ user.username }}</span></p>
			<p><strong>Email:</strong> <span id="profileEmail">{{ user.email }}</span></p>
			<p><strong>First Name:</strong> <span id="profileFirstName">{{ user.first_name }}</span></p>
			<p><strong>Wins:</strong> <span id="profileWins">{{ user.userprofile.victory_count }}</span></p>
			<p><strong>Looses:</strong> <span id="profileLosses">{{ user.userprofile.defeat_count }}</span></p>
			<button id="editProfile" class="wideButton">Edit profile</button>
			<button id="friendFromProfile" class="wideButton">Friend</button>
			<button id="menuFromProfile" class="wideButton">Back to menu</button>
		</div>

	<!--------------------------------------- FRIEND ----------------------------------------->
		<div id="friendScreen" class="screen">
			<h3>Friend List</h3>
			<div id="friendsList"></div>
			<h3>Add a Friend</h3>
			<input type="text" id="friendUsername" placeholder="Username">
			<button id="addFriendButton" class="wideButton">Add Friend</button>
	
			<h3>Friend Requests</h3>
			<ul id="friendRequestsList">
				{% for friend_request in friend_requests %}
					<li>
						<span>{{ friend_request.from_user.username }}</span>
						<button class="acceptFriendButton" data-request-id="{{ friend_request.id }}">Accept</button>
					</li>
				{% empty %}
					<li>No friend requests</li>
				{% endfor %}
			</ul>
			<button id="profileFromFriend" class="wideButton">Profile</button>
		</div>
	<!------------------------------------ EDIT PROFILE -------------------------------------->
	
		<div id="editProfileScreen" class="screen">
			<h2>Edit Profile</h2>
			<form id="editProfileForm" enctype="multipart/form-data">
				{% csrf_token %}
				<input type="text" id="editUsername" name="username" placeholder="Username" required>
				<input type="email" id="editEmail" name="email" placeholder="Email" required>
				<input type="text" id="editFirstName" name="first_name" placeholder="First name" required>
				<input type="password" id="editPassword" name="password" placeholder="Password">
				<input type="file" id="editProfilePicture" name="profile_picture">
				<button type="submit" class="wideButton">Save changes</button>
				<button id="cancelEditProfile" class="wideButton">Cancel</button>
			</form>
		</div>
	<!---------------------------------- CLASSIC PONG GAME ------------------------------------>
	<!-- Mode Selection Screen -->
		<div id="modeSelectionScreen" class="screen">
			<h2>Select Game Mode</h2>
			<button id="modeVsAI" class="wideButton">Player vs AI</button>
			<button id="mode2Players" class="wideButton">2 Players</button>
		</div>
		
	<!-- Input Parameters Screen -->
		<div id="parametersScreen" class="screen">
			<!-- Main Title -->
			<h2>Parameters</h2>
			<!-- Players Names Input -->
			<div id="enterYourNames">
				<h3>Enter your names</h3>
				<div id="player1LabelField" class="inputField">
					<label for="player1Input">Player 1:</label>
					<input type="text" id="player1Input" placeholder="Enter Player 1 name" maxlength="8">
				</div>
				<div>
					<p id="player1InputError" class="error-message"></p>
				</div>
				<div id="player2LabelField" class="inputField">
					<label for="player2Input">Player 2:</label>
					<input type="text" id="player2Input" placeholder="Enter Player 2 name" maxlength="8">
				</div>
				<div>
					<p id="player2InputError" class="error-message"></p>
				</div>
			</div>
			<!-- Difficulty Selection -->
			<div id="difficultySelection">
				<h3>Choose Difficulty</h3>
				<div id="difficultyButtons">
					<button id="easyButton" class="difficultyButton selected">Easy</button>
					<button id="mediumButton" class="difficultyButton">Medium</button>
					<button id="hardButton" class="difficultyButton">Hard</button>
				</div>
			</div>
			<!-- Start Game Button -->
			<button id="startGameWithParameters" class="wideButton">Start Game</button>
		</div>

	<!-- Game Screen -->
		<div id="gameScreen" class="screen">
			<!-- Player Labels and Scores -->
			<div id="scoreBoard">
				<span id="player1Label" class="playerLabel">Player 1</span>
				<div class="scores">
					<span id="player1Score">0</span>
					<span>-</span>
					<span id="player2Score">0</span>
				</div>
				<span id="player2Label" class="playerLabel">Player 2</span>
			</div>
			<!-- Player Controls -->
			<div id="controlsDisplay">
				<div id="leftControls">
					<h3>Controls</h3>
					<div class="controlKeys">
						<p>W</p>
						<p>S</p>
					</div>
				</div>
				<div id="rightControls">
					<h3>Controls</h3>
					<div class="controlKeys">
						<p>&uarr;</p>
						<p>&darr;</p>
					</div>
				</div>
			</div>
			<!-- Game Canvas -->
			<div id="gameWrapper">
				<canvas id="gameCanvas" width="1000" height="500"></canvas>
			</div>
		</div>

	<!-- End Screen -->
		<div id="classicEndScreen" class="screen">
			<h2 id="classicWinMessage">Player Wins!</h2>
			<button id="restartClassicGame" class="wideButton">Restart</button>
			<button id="menuFromClassicEnd" class="wideButton">Back to Menu</button>
		</div>
	</div>

	<!---------------------------------- JAVASCRIPT SCRIPTS ----------------------------------->
	<script src="../static/js/main.js"></script>
	<script src="../static/js/login.js"></script>
	<script src="../static/js/register.js"></script>
	<script src="../static/js/menu.js"></script>
	<script src="../static/js/profile.js"></script>
	<script src="../static/js/editProfile.js"></script>
	<script src="../static/js/classicStart.js"></script>
	<script src="../static/js/classic.js"></script>
	<script src="../static/js/classicEnd.js"></script>
	<script src="../static/js/updateScore.js"></script>
	<script src="../static/js/friend.js"></script>

</body>
</html>